<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <style>
      :host {
        display: block;
      }
    </style>

    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>Gestor de clientes</h1>
        </div>
        <div class="col-12">
          <button class="btn btn-success" type="button" name="button" on-click="obtenerClientes">Obtener clientes</button>
          <button class="btn btn-info" type="button" name="button" on-click="agregarCliente">Registrar cliente</button>
        </div>
      </div>
      <div class="row">
        <table>
          <tbody>
            <template is="dom-repeat" items="{{clientes}}">
            <tr>
              <td>[[item.CustomerID]]</td>
              <td>[[item.Country]]</td>
              <td>[[item.Fax]]</td>
            </tr>
            </template>
          </tbody>
        </table>


      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }

      static get properties() {
        return {
          clientes: {
            type: Array
          }
        };
      }

      incrementar() {
        this.prop2 = this.prop2 + 1;
        console.log("prorp2: " + this.prop2);
        console.log("prorp1: " + this.prop1);
      }

      obtenerClientes() {
        var url = "https://services.odata.org/V4/Northwind/Northwind.svc/Customers";
        var request = new XMLHttpRequest();
        request.open("GET", url, false);
        request.setRequestHeader('Accept', 'application/json');
        request.send();
        this.set('clientes', JSON.parse(request.responseText).value);
        console.log(this.clientes);
      }

      agregarCliente() {
        var url = "https://services.odata.org/V4/Northwind/Northwind.svc/Customers";
        var request = new XMLHttpRequest();
        request.open("POST", url, false);
        request.setRequestHeader('Accept', 'application/json');
        request.setRequestHeader('Content-Type', 'application/json');
        var nuevoCliente = {"datoa": 123, "datob": 345};
        var body = JSON.stringify(nuevoCliente);

        request.send(body);
        this.respuesta = request.responseText
        console.log(this.respuesta);
      }

    }

    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
