<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mi-visor">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <style>
      :host {
        display: block;
      }
    </style>

    <div class="container">
      <div class="row">
        <img class="col-lg-8 col-xs-12" src="https://image.flaticon.com/icons/png/128/2000/2000530.png" alt="">
      </div>
      <div class="row">
        <div class="col-12">
          <button class="btn btn-success" type="button" name="button" on-click="incrementar">Cargar datos</button>
        </div>
        <div class="col-12">
          Bidireccional: <input type="text" placeholder="[[prop3]]" value="{{prop1::input}}">
        </div>
        <div class="col-12">
          Unidireccional: <input type="text" value="[[prop1]]">
        </div>
      </div>
      <div class="row">
        <table class="table table-striped col-12">
          <thead>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellidos</th>
          </thead>
          <tbody>
            <tr>
              <td>[[prop2]]</td>
              <td>Selena</td>
              <td>Mora</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Leandro</td>
              <td>Gao</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MiVisor extends Polymer.Element {
      static get is() { return 'mi-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String
          },
          prop2: {
            type: Number,
            value: 999
          },
          prop3: {
            type: String,
            value: "Indique su usuario"
          }
        };
      }

      incrementar() {
        this.prop2 = this.prop2 + 1;
        console.log("prorp2: " + this.prop2);
        console.log("prorp1: " + this.prop1);
      }

    }

    window.customElements.define(MiVisor.is, MiVisor);
  </script>
</dom-module>
