<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="demopolymer2ed-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]! con valor [[prop2]] </h2>
    <h3>Edad [[prop2]]!</h3>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class Demopolymer2edApp extends Polymer.Element {
      static get is() { return 'demopolymer2ed-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'demopolymer2ed-app'
          },
          prop2: {
            type: Number,
            value: 999
          }
        };
      }

    }

    window.customElements.define(Demopolymer2edApp.is, Demopolymer2edApp);
  </script>
</dom-module>
